body {
    padding: 0.5em;
    margin: 0;
    font: bold 3.1em Helvetica, Arial, sans-serif;
    background-color: #FFF;
    }

section, header, footer, aside, nav, article, figure {
    display: block;
    }
div.time { clear: both; }
article {
    color: #FFF;
    background-color: gray;
    float: left;
    padding: 0.5em;
    padding-right: 1em;
    margin: 0.2em;
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 11px #333333;
    -o-box-shadow: 5px 5px 11px #333333;
    -ms-box-shadow: 5px 5px 11px #333333;
    box-shadow: 5px 5px 11px #333333;
    border-radius: 0.3em;
    font-size: 2em;
    text-align: center;
    position: relative;
    white-space: nowrap;
    }

.disabled, .aborted{
    }

.blue {
    background:#749a02;
    }

.blue_anime, .red_anime, .yellow_anime, .aborted_anime {
    background: #3861b6;
    }

.yellow {
    color: black;
    background: #dddd00;
    }

.red{
    background: #a01208;
    }

.time{
    font-size:1.5em;
    background: none;
    color: black;
    box-shadow: none;
    margin: 0.2em
    }

.job_disabled_or_aborted {
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    position: absolute;
    color: DarkRed;
    border: 0.1em dashed black;
    margin: 0;
    padding: 0.2em;
    font-size: 2em;
    }

.workon{
    opacity:.8;
    }

#sound{
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }

.failedDots { 
    position: absolute; 
    bottom: 0.2em; 
    left: 0.2em;
    right: 0.2em; 
    }

.dot { 
    width: 0.3em;
    height: 0.3em;
    background: #990000;
    border-radius: 0.3em;
    float: left;
    margin-right: 0.1em;
    margin-top: 0.05em;
    -moz-box-shadow: 2px 2px 2px #333333;
    -webkit-box-shadow: 2px 2px 2px #333333;
    -o-box-shadow: 2px 2px 2px #333333;
    -ms-box-shadow: 2px 2px 2px #333333;
    box-shadow: 2px 2px 2px #333333;
    opacity: 0.5;
    }

.warning_info {
    background-image: -webkit-linear-gradient(top, #990000 0%, #660000 20%, transparent 30%); 
    border-radius: 0.3em;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    }

.warning_info > div {
    font-size: 0.4em;
    line-height: 1.2em;
    color: white;
    text-align: left;
    padding-left: 1em;
    }

.warning {
    background-image: url(css/img/warning.png);
    background-color: rgba(99,0,0,0.8); 
    background-size: 1.2em 1.2em, auto, auto;
    background-repeat: no-repeat; 
    background-position: center;
    border-radius: 0 0.3em 0.3em 0;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 2em;
    }

div.info {
    border-radius: 0.6em 0 0.6em 0 ;
    background: rgba(99,0,0,0.8);
    padding: 0.1em 0.3em;
    font-size: 0.5em;
    color: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 0px;
    right: 0px;
    }
    
.warning ~ div.info {
    right: 4em;
    border-radius: 0.6em 0 0 0;
    }
    
.container {
    overflow: hidden;
}
